<div class="container">
    <div class="left logo">
        <a href="../index.html"><img src="/imgs/icon/JD-logo.webp" alt=""></a> 
    </div>
    <div class="right">
        <div class="search-box">
            <input type="text" value="笔记本电脑">
            <button class="search-btn">
                <img src="/imgs/icon/search.png" alt="">
            </button>
        </div>
        <ul class="nav-list">
            <li><a href="" style="color: #e2231a;"><strong>秒杀</strong></a></li>
            <li><a href="" style="color: #e2231a;"><strong>优惠券</strong></a></li>
            <li><a href="/html/list.html">商城</a></li>
            <li><a href="/html/shoppingCart.html">我的购物车</a></li>
            <li><a href="">京东超市</a></li>
            <li><a href="">京东家电</a></li>
            <li><a href="">PLUS会员</a></li>
            <li><a href="/html/mine.html">我的</a></li>
        </ul>
        <div class="user-info">
            <img src="/imgs/icon/smile.png" alt="" id="profile">
            <aside>
                <p id="login-text">Hi~欢迎逛京东！</p>
                <div id="willChange">
                    <a href="/html/login.html">登录&ensp;</a>
                    <a href="/html/regist.html">注册</a>
                    <!-- <a href="">用户1</a>
                    <a href="">退出</a> -->
                </div>
            </aside>
        </div>
    </div>
</div>